.elementInput {
  display: flex;
  gap: 1em;
  background-color: #202327;
  color: #e7e9ea;
  padding: 0.7em 1.2em;
  border-radius: 2em;
  outline: 1px solid #202327;
  transition: all 0.1s;
}

.elementInput input {
  border: 0;
  outline: 0;
  background-color: transparent;
  width: 100%;
}

.elementInput * {
  width: 1.2em;
  flex-shrink: 0;
  background-color: transparent;
}

.elementInput:focus-within {
  outline: 1px solid #1d9bf0;
}
.elementInput:focus-within * {
  fill: #1d9bf0;
}
