.compactPost {
  display: flex;
  text-align: left;
  gap: 0.5em;
}

.compactPost .icon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  flex-shrink: 0;
}

.compactPost .user {
  display: flex;
  gap: 0.3em;
  padding-bottom: 2px;
}

.compactPost .userName {
  font-weight: 700;
}

.compactPost .userAccount {
  color: #71767b;
}
