.postList {
  display: flex;
  flex-flow: column;
  width: 600px;
  height: 100vh;
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
  border-bottom: 1px solid #2f3336;
}

.postList .compactPost {
  padding: 1em 1em 1.2em 1em;
  transition: all 0.3s;
  outline: 1px solid #2f3336;
}

.postList .compactPost:hover {
  transform: scale(1.02);
  border-radius: 5px;
  box-shadow: 0 0 1em 0.1em rgb(29, 155, 240, 0.7);
  z-index: 100;
  outline: 1px solid #1d9bf0;
}

.postList .inputSearch {
  margin: 1em;
}

.postList .error,
.postList .loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* width: 600px; */ /* No hay forma de hacer esto responsive? */
  /*  align-self: stretch; */
}
