.inputSearch {
  display: flex;
  gap: 1em;
  background-color: #202327;
  color: #e7e9ea;
  padding: 0.7em 1.2em;
  border-radius: 2em;

  outline: 1px solid #202327;
  transition: all 0.1s;
}

.inputSearch input {
  border: 0;
  outline: 0;
  background-color: #202327;
  flex-grow: 1;
}

.inputSearch .searchIconSVG {
  width: 1.2em;
  background-color: #202327;
}

.inputSearch:focus-within {
  outline: 1px solid #1d9bf0;
}
.inputSearch:focus-within .searchIconSVG {
  fill: #1d9bf0;
}
