.elementButton {
  /*  display: inherit;
  padding: 9px;
  border-radius: 90px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s; */
}

.elementButton:hover {
  /*  background-color: #202327; */
}

.elementButton:active {
  /* background-color: #30343a; */
}

.elementButton * {
  background-color: transparent; /* ? */
}

.elementButton.disabled {
  /* ? */
  cursor: default;
}
.elementButton.disabled * {
  /* ? */
  fill: gray;
}
.elementButton.disabled:hover {
  /* ? */
  background-color: inherit;
}
