.pagesNavigator {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5em;
  background-color: transparent;
}

.pagesNavigator .elementButton {
  border: 1px solid #202327;
  background-color: #202327;
  transition: all 0.2s;
}
.pagesNavigator .elementButton:active {
  background-color: #3d454e;
}
.pagesNavigator .elementButton:hover {
  border: 1px solid #1d9bf0;
}
.pagesNavigator .elementButton * {
  padding: 3px;
}
.pagesNavigator .elementButton span {
  width: 20px;
}
.pagesNavigator .elementButton.disabled:hover {
  background-color: #202327;
}

.pagesNavigator .paginationInput {
  width: 2em;
}
.pagesNavigator .paginationInput input {
  text-align: center;
}
