.postListHeader {
  display: flex;
  margin: 1em;
  gap: 1em;
}

.postListHeader .searchInput {
  flex-grow: 1;
}

.postListHeader.search .pagesNavigator {
  flex-shrink: 1;
  width: 3.1em;
  overflow: hidden;
}

/* .postListHeader.pagination {
}
.postListHeader .elementInput {
} */
