#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

* {
  color: #fff;
  line-height: 20px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.2px;
  background-color: #000;
}
